extends layout

include mixins/form
include mixins/links

block content

  if !isAjax
    #content.search.show

      mixin warning()

      if canSearch()
        form(action="#{proxyPath}/search").search-form
          .input-group.input-group-sm
            input.form-control(type="text", value="#{term_ph}", data-i-search-input="true",name="term",placeholder="Search")
            span.input-group-btn
              button.btn.btn-primary.i.icon.ion-search(type="submit")

      if (term)
        h2 #{title} for&nbsp;
          b.page-param #{term}

      dl.search-results
        each match in matches
          dt
            +anchor("/wiki/" + match.pageName + "?hl=" + encodeURIComponent(term), match.pageName)
            span.nl #{match.line}
          dd #{match.text}
  else
    .jingo-content.jingo-search
        if (term)
          h2 #{title} for&nbsp;
            b.page-param #{term}

        dl.jingo-search-results
          each match in matches
            dt
              +anchor("/wiki/" + match.pageName + "?hl=" + encodeURIComponent(term), match.pageName)
              span.nl #{match.line}
            dd #{match.text}
