
.cheatsheet-content

  .mod
    p Заголовки
    pre # Самый главный
      |## Поменьше
      |### Ещё меньше
    p Стиль текста
    pre *Это наклонный*
      |_Это тоже_
      |**Это жирный**
      |__И это жирный__
      |*Их **можно** комбинировать*

    h3 Списки
    p Ненумерованые
    pre
      |* Item 1
      |* Item 2
      |* Item 2a
      |* Item 2b
    p Нумерованые
    pre
      |1. Item 1
      |2. Item 2
      |3. Item 3
      |   * Item 3a
      |   * Item 3b
    p Картинки
    pre
      |![GitHub Logo](/images/logo.png)
      |Format: ![необязательный текст](ссылка)
    p Links
    pre |http://github.com - automatic!
      |[GitHub](http://github.com)
    p Blockquotes
    pre
      |As Kanye West said:
      |&gt; We're living the future so
      |&gt; the present is our past.

  hr

  h3 Code Examples in Markdown
    p Syntax highlighting with <a href="http://github.github.com/github-flavored-markdown/" title="GitHub Flavored Markdown" target="_blank">GFM</a></p>
    pre
      |```javascript
      |function fancyAlert(arg) {
      |  if(arg) {
      |    $.facebox({div:'#foo'})
      |  }
      |}
      |```
    p Or, indent your code 4 spaces
    pre Here is a Python code example
      |without syntax highlighting:
      |def foo:
      |if not bar:
      |  return true
    p Inline code for comments
    pre I think you should use an
      |`&lt;addr&gt;` element here instead.

