.tools {
    display    : inline-block;
    z-index    : 0;
    margin-top : 0;
    right      : initial;
    border     : none;
}

.navbar-left {
    float: none!important;
}

.navbar-form.search {
    display: inline-block;
}

.navbar-header {
    display : block;
}
.navbar-form {
    margin-left : 0;
    margin-right : 0;
}
.input-group.search {
    max-width : 120px;
}

h1 {
    font-size : x-large;
}

h2 {
    font-size : large;
}

h3 {
    font-size : medium;
}

@media (max-width: 500px) {
    .tools,#searchform {
        display : none;
    }
}

.glyphicon {
    font-size : xx-large;
}

.toolbar li {
  list-style-type: none;
  display: inline-block;
  margin: 15px;
  width: 25px;
  height: 25px;
  color: gray;
}

.toolbar li:hover {
  color: black;
}


a.internal.__unknown {
    color : grey;
}

a.internal.__done {
    color : #428bca;
    margin-left: -0.8em;
}

a.internal.__in_progress {
    color : #02c102;
    margin-left: -0.5em;
}
