include links

mixin tools(action, pageName)
  if action == 'edit'
    ul
      if pageName != 'home'
        li
          form(action="#{proxyPath}/pages/#{pageName}", method="post", style="display:inline")
            input(type="hidden", name="_method", value="delete")
            input(type="submit", value="Delete this page").confirm-delete-page.btn.btn-default

  if action == 'show'
    ul
      if !isAnonymous()
        li
          +anchor("/pages/new")(title="Create new page").btn.btn-sm.btn-default
            i.icon.ion-plus-round
      if !isAnonymous() && canEdit
        li
          +anchor("/pages/" + pageName + "/edit")(title="Edit this page").btn.btn-sm.btn-default
            i.icon.ion-compose

      li
        +anchor("/wiki/" + pageName + "/history")(title="Page history").btn.btn-sm.btn-default
          i.icon.ion-clock
//-      li
//-        +anchor("/wiki")(title="All pages").btn.btn-sm.btn-default
//-          i.icon.ion-grid
//-
//-      if canSearch()
//-        li
//-          +anchor("/search")(title="Search through the pages").btn.btn-sm.btn-default
//-            i.icon.ion-search
//-
//-  if action == 'history'
//-    ul
//-      li
//-        +anchor("/wiki")(title="All pages").btn.btn-sm.btn-default
//-          i.icon.ion-grid

mixin saveAndCancel(saveText)
  .well
    input(type='submit',value=saveText || 'Save',title='Save (Ctrl/Cmd+s)').btn.btn-primary
    |&nbsp;
    +anchor("/", "Cancel").btn

mixin errors(err)
  -var errors = locals.errors;
  - if (typeof(errors) != 'undefined' && Object.keys(errors).length > 0)
    .alert.bg-danger
      ul
        each v in errors
          li
            b= v.msg || v

mixin featuresStylesheets()
  if hasFeature('markitup')
    +asset("/vendor/widearea/widearea.min.css")(type="text/css")
    +asset("/vendor/markitup/skins/simple/style.css")(type="text/css")
    +asset("/vendor/markitup/sets/markdown/style.css")(type="text/css")
  if hasFeature('codemirror')
    +asset("/css/codemirror-ext.css")(type="text/css")
    +asset("/vendor/codemirror/codemirror.css")(type="text/css")
    +asset("/vendor/codemirror/fullscreen.css")(type="text/css")

mixin featuresJavaScripts()
  if hasFeature('markitup')
    +asset("/vendor/jquery-migrate-1.1.0.min.js")
    +asset("/vendor/markitup/jquery.markitup.js")
    +asset("/vendor/jquery.form.min.js")
    +asset("/vendor/markitup/sets/markdown/set.js")
    +asset("/vendor/widearea/widearea.min.js")
    script.
     $('#editor').markItUp(markdownSettings);
     wideArea();
  if hasFeature('codemirror')
    +asset("/vendor/codemirror/codemirror.min.js")
    script.
      Jingo.cmInstance = CodeMirror.fromTextArea(document.getElementById("editor"), {
        lineNumbers: true,
        mode: 'gfm',
        matchBrackets: true,
        lineWrapping: true,
        extraKeys: {
          "Ctrl-Enter": function(cm) {
            Jingo.toggleFullscreen();
          },
          "Ctrl-S": function(cm) {
            Jingo.save();
          }
        }
      });
      Jingo.toolbar();

mixin warning()
  -var warning = locals.warning;
  - if (typeof(warning) != 'undefined')
    .alert.alert-block.alert-warning !{warning}

mixin notice()
  -var notice = locals.notice;
  - if (typeof(notice) != 'undefined')
    .alert.alert-block.alert-info.alert-dismissible !{notice}

mixin dialogBox(h)
  .modal-dialog
    .modal-content
      .modal-header
        button(data-dismiss="modal",aria-hidden="true").close &times;
        h3 #{h}
      .modal-body
      .modal-footer
